body {
    background-color: black;
}

.height-10 {  height: 10vh; }
.height-20 {  height: 20vh; }
.height-30 {  height: 30vh; }
.height-40 {  height: 40vh; }
.height-50 {  height: 50vh; }
.height-60 {  height: 60vh; }
.height-70 {  height: 70vh; }
.height-80 {  height: 80vh; }
.height-90 {  height: 90vh; }
.height-100 {  height: 100vh; }

.full-page { height: 100vh; }

.no-margin  { margin: 0 !important; }
.no-padding { padding: 0 !important; }

.no-v-margin  {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-v-padding {
    padding-top: 0 !important;
    padding-bottom: : 0 !important;
}

/* TEXT */
@media screen and (max-width: 650px) {
    h2 {
        font-size: 24px !important;
        margin: 0 !important;
    }
    h3 {
        font-size: 15px !important;
        line-height: 1.5em !important;
    }
    h4 {
        font-size: 20px !important;
    }
    h5 {
        font-size: 15px !important;
    }
}

@media screen and (min-width: 650px) {
    h3 {
        font-size: 25px !important;
        line-height: 1.5em !important;
    }
}
/* h5::first-line {
    line-height: 110%;
} */

h5 {
    line-height: 1.5em !important;
}

@font-face {
    font-family: 'Vector Battle';
    font-style: normal;
    font-weight: normal;
    src: local('Vector Battle'), url('Vectorb.woff') format('woff');
}

.no-select {
  -webkit-touch-callout:    none;
  -webkit-user-select:      none;
  -khtml-user-select:       none;
  -moz-user-select:         none;
  -ms-user-select:          none;
  user-select:              none;
}

.high-score {
    /* font-family: "Vector Battle"; */
    position: fixed;
    top: 1vh;
    left: 2vw;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
    /* font-size: 4em; */

}

.white-border {
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
    border: 1px solid white !important;
    border-radius: 0.5em !important;
    background-color: inherit !important;
    padding: 0.1em 0.3em 0.2em 0.2em;
}

.green-border {
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
    border: 1px solid green !important;
    border-radius: 0.5em !important;
    background-color: inherit !important;
    padding: 0.1em 0.3em 0.2em 0.2em;
}

.blue-border {
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
    border: 1px solid #2196F3 !important;
    border-radius: 0.5em !important;
    background-color: inherit !important;
    padding: 0.1em 0.3em 0.2em 0.2em;
}

.text-link {
    font-weight: 100;
}

.blue-glow {
    filter: url('#blue-glow');
}

svg {
  /* background-color: black; */
  width: 100%;
}

.brand-title {
    filter: url('#blue-glow');
    font-weight: 100 !important;
    font-family: "Vector Battle", Helvetica, Arial, sansserif !important;
}

.a {
    font-size: 1.3em;
}

text {
  font-family: "Vector Battle", Helvetica, Arial, sansserif !important;
  font-size: 1.5em !important;
  /* font-weight: 900; */
  fill: rgb(212, 212, 212);
  filter: url(#blue-glow);
}

canvas {
    border: 0px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000;
}

/* #game-canvas {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
} */
