body {
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
   flex: 1 0 auto;
 }

@media screen and (min-width: 0px) {
    .height-5  {  min-height: 5vh;  }
    .height-10 {  min-height: 10vh; }
    .height-20 {  min-height: 20vh; }
    .height-30 {  min-height: 30vh; }
    .height-40 {  min-height: 40vh; }
    .height-50 {  min-height: 50vh; }
    .height-60 {  min-height: 60vh; }
    .height-70 {  min-height: 70vh; }
    .height-80 {  min-height: 80vh; }
    .height-90 {  min-height: 90vh; }
    .height-100 {  min-height: 100vh; }
}

.no-margin  { margin: 0 !important; }
.no-padding { padding: 0 !important; }

.no-v-margin  {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-v-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.margin-l-0_5 { margin-left: 0.5em !important; }
.margin-l-1 { margin-left: 1em !important; }
.margin-l-2 { margin-left: 2em !important; }
.margin-l-3 { margin-left: 3em !important; }
.margin-l-4 { margin-left: 4em !important; }
.margin-l-5 { margin-left: 5em !important; }

.margin-t-0_5 { margin-top: 0.5em !important; }
.margin-t-1 { margin-top: 1em !important; }
.margin-t-2 { margin-top: 2em !important; }
.margin-t-3 { margin-top: 3em !important; }
.margin-t-4 { margin-top: 4em !important; }
.margin-t-5 { margin-top: 5em !important; }

.padding-l-0_5 { padding-left: 0.5em !important; }
.padding-l-1   { padding-left: 1em !important; }
.padding-l-2   { padding-left: 2em !important; }
.padding-l-3   { padding-left: 3em !important; }
.padding-l-4   { padding-left: 4em !important; }
.padding-l-5   { padding-left: 5em !important; }

.padding-t-0_5 { padding-top: 0.5em !important; }
.padding-t-1   { padding-top: 1em !important; }
.padding-t-2   { padding-top: 2em !important; }
.padding-t-3   { padding-top: 3em !important; }
.padding-t-4   { padding-top: 4em !important; }
.padding-t-5   { padding-top: 5em !important; }

.padding-b-0_5 { padding-bottom: 0.5em !important; }
.padding-b-1   { padding-bottom: 1em !important; }
.padding-b-2   { padding-bottom: 2em !important; }
.padding-b-3   { padding-bottom: 3em !important; }
.padding-b-4   { padding-bottom: 4em !important; }
.padding-b-5   { padding-bottom: 5em !important; }

.padding-t-5  { padding-top:  5vh !important; }
.padding-t-10 { padding-top: 10vh !important; }
.padding-t-15 { padding-top: 15vh !important; }
.padding-t-20 { padding-top: 20vh !important; }

.padding-b-5  { padding-bottom:  5vh !important; }
.padding-b-15 { padding-bottom: 15vh !important; }
.padding-b-10 { padding-bottom: 10vh !important; }
.padding-b-20 { padding-bottom: 20vh !important; }

@media screen and (max-width: 650px) {
    h1 {
        font-size: 32px !important;
        line-height: 39px !important;
        margin: 0 !important;
    }
    h2 {
        font-size: 24px !important;
        margin: 0 !important;
    }
    h3 {
        font-size: 15px !important;
        line-height: 1.5em !important;
    }
    h4 {
        font-size: 20px !important;
        line-height: 163% !important;
    }
    h5 {
        font-size: 15px !important;
    }
    h6 {
        line-height: 183% !important;
    }
}

@media screen and (min-width: 650px) {
    h3 {
        font-size: 25px !important;
        line-height: 1.5em !important;
    }
    h4  {
        line-height: 1.5em !important;
        line-height: 163% !important;
    }
    h6 {
        font-size: 1.2em !important;
        line-height: 183%;
    }
}

h5 {
    line-height: 1.5em !important;
}

.hero-text {
    padding: 1em 0 0 0;
    font-size: 1.64rem;
    font-weight: 400;
    line-height: 2.3em;
}

.small {
    font-size: small;
}

a.arcade-font:hover {
    filter: url('#blue-glow') !important;
    color: white !important;
}

input.btn-flat:hover {
    filter: url('#blue-glow') !important;
    color: white !important;
}

@font-face {
    font-family: 'Vector Battle';
    font-style: normal;
    font-weight: normal;
    src: local('Vector Battle'), url('Vectorb.woff') format('woff');
}

.no-select {
  -webkit-touch-callout:    none;
  -webkit-user-select:      none;
  -khtml-user-select:       none;
  -moz-user-select:         none;
  -ms-user-select:          none;
  user-select:              none;
}

.high-score {
    position: fixed;
    top: 1vh;
    left: 2vw;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
}

.white-border {
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
    border: 1px solid white !important;
    /* border-radius: 0.5em !important; */
    background-color: inherit !important;
    padding: 0.1em 0.3em 0.2em 0.2em;
}

.green-border {
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
    border: 1px solid rgba( 37, 223, 126, 0.7 ) !important;
    border-radius: 0.5em !important;
    background-color: inherit !important;
    padding: 0.1em 0.3em 0.2em 0.2em;
}

.blue-border {
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
    border: 1px solid #2196F3 !important;
    border-radius: 0.5em !important;
    background-color: inherit !important;
    padding: 0.1em 0.3em 0.2em 0.2em;
}

.orange-border {
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
    border: 1px solid #f4b921 !important;
    border-radius: 0.5em !important;
    background-color: inherit !important;
    padding: 0.1em 0.3em 0.2em 0.2em;
}

.black-to-trans-down {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 64%, rgba(0,0,0,0.8827731776304272) 74%, rgba(0,0,0,0.675490264465161) 83%, rgba(0,0,0,0.46260511040353647) 91%, rgba(0,0,0,0) 100%);
}

.dark-trans-to-trans-down {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.3981793400954131) 0%, rgba(0,0,0,0.44859950816264005) 64%, rgba(0,0,0,0.37296925606179976) 74%, rgba(0,0,0,0.33375356978728987) 83%, rgba(0,0,0,0.17128858379289214) 91%, rgba(0,0,0,0) 100%);
}

.text-link {
    font-weight: 100;
}

.blue-glow {
    filter: url('#blue-glow');
}

.clear-text {
    color: rgba(0,0,0,0);
}

svg {
  width: 100%;
}

.arcade-font {
    /* filter: url('#blue-glow'); */
    font-weight: 100 !important;
    font-family: "Vector Battle", Helvetica, Arial, sansserif !important;
    letter-spacing: 0.2em;
    word-wrap: anywhere;
}

.staff-photo {
    max-width: 300px;
    width: 100%;
    border: 1px white solid;
    border-radius: 21em;
    padding: 4px;
}

.a {
    font-size: 1.3em;
}

text {
  font-family: "Vector Battle", Helvetica, Arial, sansserif !important;
  font-size: 1.5em !important;
  fill: rgb(212, 212, 212);
  filter: url(#blue-glow);
}

canvas {
    border: 0px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

.bold {
    font-weight: 700 !important;
    font-style: oblique !important;
}

.call-btn {
    padding-top: 4px !important;
    background-color: rgba( 37, 223, 126, 0.7 ) !important;
    height: 27px !important;
    line-height: 18px !important;
    font-weight: 1000;
    width: 140px !important;
    border-radius: 1px !important;
}

.call-btn-text {
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    opacity: 0.7;
}

.staff-block {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 37rem;
}

.no-break {
    white-space: nowrap;
}
