body {
    background-color: #2a2f36;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}
/* SITE COLORS */
.site-grey { background-color: #2a2f36 !important; }


 /* PANEL SIZES */

.full {
    min-height: 90vh !important;
}

.full-height {
    position: relative;
    display: flex;
    min-height: 100% !important;
}

.full-height .center-center {
    margin: auto;
}

.full-height .center-height {
    margin: auto 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .full-height {
        min-height: 50% !important;
    }
}

.full-panel {
    min-height: 80vh;
    display: inline-flex;
}

.full-panel .center-panel {
    margin: auto !important;
}

.stats-panel {
    position: relative;
    top: 10vh;
}

h0 {
    font-size: 6rem;
    font-weight: 1000;
}

@media screen and (max-width: 700px) {
    h0 {
        font-size: 4rem;
        font-weight: 700;
    }
}


.hero {
    padding-left: 1.5rem !important;
}

.hero h1 {
    margin: 3rem 0;
    font-size: 5.2rem;
    line-height: 1.23;
    font-weight: 500;
}

.hero h4 {
    margin: 3rem 0;
}

@media screen and (max-width: 740px) {
    .hero h1 {
        font-size: 2.5rem;
        line-height: 1.4;
    }

    .hero h4 {
        font-size: 1.8rem;
        line-height: 1.1;
    }
}

/* TEXT */
a {
    color: white !important;
    border-bottom: 1px solid yellow;
    padding: 0px 4px 3px 4px;
}

a:hover {
    border-bottom: 8px solid yellow;
}

p {
    line-height: 2rem;
    font-size: 1.2rem;
}

/* VISUAL ELEMENTS */

.btn-border {
    border: 1px solid !important;
    border-radius: 4px !important;
    border-color: white !important;
}

.staff-photo {
    max-width: 300px;
    width: 100%;
    border: 1px white solid;
    border-radius: 21em;
    padding: 4px;
}

.staff-photo:hover {

}

@media screen and (max-width: 680px) {
    .staff-photo {
        max-width: 150px;
    }
}

/* MATERIALIZE HACKS */

@media screen and (max-width: 650px) {
    .btn-large {
        font-size: 9px !important;
    }
}

@media screen and (max-width: 800px) {
    .btn-large {
        font-size: 10px !important;
    }
}

nav ul li.active {
    border-bottom: 3px solid yellow !important;
}

a.active {
    border-bottom: 3px solid yellow !important;
}

.z-depth-0 {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
    box-shadow:         0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
}
