<footer class="page-footer hero site-grey white-text">
    <div class="divider"></div>
    <p>Bottom Line</p>
    <div class="row">
        <div class="col s12 m4 l2">
            <h5>Who</h5>
            <p>
                {{site.company}} is a video game project assessment service for investors, offering an impartial review of proposed projects by a team of highly skilled video game developers.
            </p>
        </div>
        <div class="col s12 m1 l1"></div>
        <div class="col s12 m4 l2">
            <h5>Signal</h5>
            <ul>
                <li><a href="https://twitter.com/roskelld">Twitter</a></li>
                <li><a href="mailto:hello@deanroskell.com">Email</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="center">
                © 2019 {{ site.company }}
            </div>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script type="module" src="/vgcc-site/js/site.js"></script>
