<footer class="height-40  black white-text">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="height-20">

                    <div class="row">
                        <div class="height-10"></div>
                        <div class="col s3">

                            <a href="https://twitter.com/roskelld">
                                <i class="fab fa-twitter fa-4x blue-text"></i>
                            </a>
                        </div>

                        <div class="col s3">
                            <a href="mailto:hello@deanroskell.com">
                                <i class="far fa-envelope fa-4x lime-text text-lighten-2"></i>
                            </a>
                        </div>

                    </div>


                </div>
            </div>

            <div class="col s12 m6">
                <h3>DEEPER LINKS</h3>
                <p>ARTICLES</p>
                <p>FULL SERVICE LIST</p>
                <p>EXAMPLE WORK</p>
                <p>ABOUT</p>
                <h3>LEGAL / COMPANY INFO</h3>
            </div>
        </div>
    </div>
</footer>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/vgcc-site/js/SimpleLightBox.js"></script>
<script type="module" src="/vgcc-site/js/site.js"></script>


<!-- There are a huge number of developers looking for investment, but how do you separate the time-wasters from the genuine prospects?

Game Dragons can support your due diligence processes; helping you to identify good investment targets, assessing their commercial, creative and technical skills, and providing an expert view as to whether they are developers who are going places (or could be with support).

Please note, we are not giving investment advice, and are not authorised or regulated by the FCA. -->
