<!-- NAV BAR -->
<div class="navbar-fixed site-grey">
    <nav class="site-grey z-depth-0">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-nav-menu" class="sidenav-trigger right" style="padding-top: 10px;"><i class="fas fa-bars fa-2x"></i></a>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a href="#section-contact" class="arcade-font white-text">APPROACH</a></li>
                <li><a href="#section-contact" class="arcade-font white-text">SPEAK</a></li>
                <li><a href="#section-about" class="arcade-font white-text">ABOUT</a></li>
                <li><a href="#section-team" class="arcade-font white-text">US</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav-menu" style="width: 140px !important;">
    <li><a href="#section-contact" class="arcade-font white-text">APPROACH</a></li>
    <li><a href="#section-contact" class="arcade-font white-text">SPEAK</a></li>
    <li><a href="#section-about" class="arcade-font white-text">ABOUT</a></li>
    <li><a href="#section-team" class="arcade-font white-text">US</a></li>
</ul>
