<!-- NAV BAR -->
<div class="navbar-fixed site-grey">
    <nav class="site-grey ">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-nav-menu" class="sidenav-trigger right" style="padding-top: 10px;"><i class="fas fa-bars fa-2x"></i></a>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a href="#approach" class=" white-text">APPROACH</a></li>
                <li><a href="#learn" class=" white-text">LEARN</a></li>
                <li><a href="#meet" class=" white-text">MEET</a></li>
                <li><a href="#speak" class=" white-text">SPEAK</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav site-grey" id="mobile-nav-menu" style="width: 140px !important;">
    <li><a href="#approach" class=" white-text">APPROACH</a></li>
    <li><a href="#learn" class=" white-text">LEARN</a></li>
    <li><a href="#meet" class=" white-text">MEET</a></li>
    <li><a href="#speak" class=" white-text">SPEAK</a></li>
</ul>
